# transpiled files
dist/

# duh
node_modules/

# duh
.DS_STORE

# env
setup_env.sh
setup_bat.sh

# redis
*.rdb

# temp 
*.un*
*~

# self-signed ssl cert files
*.pem

# vim swap files
*.swp
*.swo
*.swn
