<!DOCTYPE html>
<html lang="en">
<head>
    <title>Lineup List</title>
    {{#if prod}}
    <script data-goatcounter="https://lineuplist.goatcounter.com/count"
            async src="//gc.zgo.at/count.js"></script>
    {{/if}}
</head>
<body style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
    {{{body}}}
</body>
</html>
