<h2>About Lineup List</h2>
<div class="pure-g"  style="justify-content: center; text-align: center;">
    <div class="pure-u-11-12 pure-u-lg-7-12 pure-u-md-3-4">
        <h4>What is it?</h4>
        <p>Lineup List is a tool to auto-generate Spotify playlists based on festival lineups. It allows you to customize multiple options that result in a  playlist that's unique to you. Things like number of tracks per artist, how the tracks are chosen for each artist, and which specific artists are included allow you to tailor your playlist to your own preference.
        <h4>Why does it exist?</h4>
        <p>I'm the type of person that creates a playlist for each festival I go to so I can listen and discover new artists, or just get excited about those that I know well. It's a pain to manually search every artist on a lineup in Spotify, choose songs, and add them to a playlist. I built Lineup List to make this process much more painless, while also allow for more customization. By using things like the genre filtering, I can see which artists are more heavily skewed towards genres that I'm pretty sure I'm not planning on seeing at the upcoming festival, and deselect those artists. Previously, I would have added them, only to discover later that they weren't the type of music I was looking for, and then manually remove each of their songs from the playlist (usually from my phone, very annoying). Features like the "Recent setlists" track type also enables Lineup List to tailor  playlists much closer to the actual songs the artist might be performing.
        <h4>How do I use it?</h4>
        <p>Starting at <a href="/">the homepage</a>, simply choose which festival you'd like to create a playlist for. Lineup List defaults to the most recent year supported, but you can use the year dropdown to select a past year if you're looking for some nostalgia. Next, use the Day and Genre filter options to adjust the strength of the artist names in the righthand column. Uncheck any artists you don't think align with your interests or who you know you can't/won't see. Finally, choose your playlist settings: how many songs you'd like each artist to have on the final playlist, and how those songs are retrieved. The three track type options are:</p>
        <ul style="text-align: left;">
            <li>Top tracks: The list of tracks that appears as the artist's most popular on Spotify will be chosen in the order that they appear</li>
            <li>Recent setlists: Lineup List will look up the songs this artist performed in past setlists and choose songs from them, giving songs more relevant to what the artist performs currently</li>
            <li>Newest tracks: The most recent releases from the artist will be used</li>
        </ul>
        <h4>I still don't get it / something is broken / why doesn't it do X?</h4>
        <p>Please <a href="mailto:lineuplist@brianteam.dev">send me an email</a>! I'm always looking for more feedback on what could be better or new features to implement. The logic used for connecting artists and songs across the different services and APIs used isn't perfect, so sometimes an artist might have some songs missing or there might be songs from a different, but similarly named, artist in your playlist. The more feedback I get with issues the better I can make Lineup List!</p>
    </div>
</div>
