<h3>Choose a festival to begin</h3>
<form action="/customize" method="GET" style="display: flex; flex-direction: column;">
    <select name="festival" style="margin: 1rem 0 2rem">
        {{#each supportedFestivals}}
        <option value="{{this.name}}">{{this.name}} {{this.year}}</option>
        {{/each}}
    </select>
    <input type="submit" />
</form>
