/* html and body needed exactly like this to take full viewport height */
html {
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    width: 100%;
    min-height: 100%;
}

.nav, .mobile-nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    margin: 3em 0 0 3em; /* If this is changed make sure to update large media query below */
}

.nav-item {
    font-size: larger;
    margin: 0.5em 0 0.5em 0;
}

/* After we downsize below medium, shift nav mobile nav */
@media only screen and (min-width: 48em) {
    .nav {
        display: flex;
    }
    .mobile-nav {
        display: none;
    }
}

@media only screen and (max-width: 48em) {
    .nav {
        display: none;
    }
    .mobile-nav {
        display: flex;
    }
}

/* After we downsize below large, shift nav to less left margin */
@media only screen and (max-width: 64em) {
    .nav {
        margin: 1em 0 0 1em;
    }
}

@media only screen and (min-width: 64em) {
    .nav {
        margin: 3em 0 0 3em;
    }
}

/* ------------------- Select customizations for home page fest selection -------------------  */
select {
  -webkit-appearance: none;
  background-color: transparent;
  border: 0.1rem solid #d1d1d1;
  border-radius: .4rem;
  box-shadow: none;
  box-sizing: inherit;
  /* height: 3.8rem; */
  padding: .6rem 1.0rem .7rem;
  width: 100%;
}

select:focus {
  border-color: rgb(0, 120, 231);
  outline: 0;
}

select {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 8" width="20"><path fill="%23d1d1d1" d="M0,0l6,8l6-8"/></svg>') center right no-repeat;
  padding-right: 1.0rem;
}

select:focus {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 8" width="20"><path fill="rgb(0, 120, 231)" d="M0,0l6,8l6-8"/></svg>');
}

select[multiple] {
  background: none;
  height: auto;
}
