/* html and body needed exactly like this to take full viewport height */
html {
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    width: 100%;
    min-height: 100%;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.text-align-center {
    text-align: center;
}

.select-header-text {
    margin-bottom: 2px;
    text-align: center;
}

.nav {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    margin: 1em 0 0 1em;
}

.nav-item {
    font-size: larger;
    margin: 0.5em 0 0.5em 0;
}

.mobile-nav {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 3em;
    height: 3em;
}

/*menu burger*/
.mobile-nav-a {
    display: block;
    position: absolute;
    top: 2em;
    left: 1.5em;
}

.mobile-nav-dropdown {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 10;
    margin: 0;
}

/*options in the menu dropdown*/
.mobile-nav-dropdown-option-a {
    display: block;
    color: white;
    padding: 1em;
    text-align: center;
    text-decoration: none;
}

.home-form {
    width: 80vw;
}

.home-select {
    margin-bottom: 1em;
}

.request-lineup-button {
    font-size: smaller;
    margin-bottom: 2rem;
    margin-top: 2rem;
    max-width: 80vw;
}

@media only screen and (min-width: 480px) {
    .nav {
        display: flex;
    }

    .mobile-nav {
        display: none;
    }

    .home-form {
        width: 60vw;
    }
}

@media only screen and (min-width: 768px) {
    .nav {
        margin: 3em 0 0 3em;
    }

    .home-form {
        width: 40vw;
    }
}

@media only screen and (min-width: 1400px) {
    .home-form {
        width: 30vw;
    }
}

@media only screen and (min-width: 2000px) {
    .home-form {
        width: 20vw;
    }
}

/* ------------------- Select customizations for home page fest selection -------------------  */
select {
  -webkit-appearance: none;
  background-color: transparent;
  border: 0.1rem solid #d1d1d1;
  border-radius: .4rem;
  box-shadow: none;
  box-sizing: inherit;
  /* height: 3.8rem; */
  padding: .6rem 1.0rem .7rem;
}

select:focus {
  border-color: rgb(0, 120, 231);
  outline: 0;
}

select {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 8" width="20"><path fill="%23d1d1d1" d="M0,0l6,8l6-8"/></svg>') center right no-repeat;
  padding-right: 1.0rem;
}

select:focus {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 8" width="20"><path fill="rgb(0, 120, 231)" d="M0,0l6,8l6-8"/></svg>');
}

select[multiple] {
  background: none;
  height: auto;
}
